!!! XML
!!! 1.1
-# fnfnen3, an Web-based Twitter client
-# Version: @@VERSION@@
-# Copyright (C) 2009-2011 Kana Natsuno <http://whileimautomaton.net/>
-# License: So-called MIT/X license  {{{
-#     Permission is hereby granted, free of charge, to any person
-#     obtaining a copy of this software and associated documentation
-#     files (the "Software"), to deal in the Software without
-#     restriction, including without limitation the rights to use,
-#     copy, modify, merge, publish, distribute, sublicense, and/or
-#     sell copies of the Software, and to permit persons to whom the
-#     Software is furnished to do so, subject to the following
-#     conditions:
-#
-#     The above copyright notice and this permission notice shall be
-#     included in all copies or substantial portions of the Software.
-#
-#     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
-#     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
-#     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
-#     NONINFRINGEMENT.  IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
-#     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
-#     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
-#     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
-#     OTHER DEALINGS IN THE SOFTWARE.
-# }}}
%html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='en')
  %head
    %title fnfnen3, an Web-based Twitter client
    %link(rel='stylesheet' href='/stylesheets/style.css')
    %link(rel='stylesheet' href='/stylesheets/iphone.css' media='only screen and (max-device-width: 480px)')
    %link(rel='shortcut icon' href='/images/icon.png' type='image/png')
    %script(type='text/javascript' src='/javascripts/jquery.js')
    %script(type='text/javascript' src='/javascripts/jquery.json.js')
    %script(type='text/javascript' src='/javascripts/jquery.storage.js')
    %script(type='text/javascript' src='/javascripts/prafbe.js')
    %script(type='text/javascript' src='/javascripts/core.js')
    %meta(name='viewport' content='width=320')
  %body
    #information_bar
      %span#last_updated_time
        Not loaded yet.
      %span#requesting_status
        (idle)

    #balloon_container
      -# See show_balloon() in core.js for the details.

    #column_selectors
      -# See append_column() in core.js for the details.

    #console
      %form#post_form(action='__dummy__' method='post')
        %div
          %input#tweet_box(type='text' name='status' size='140' value='...')
        %div
          %input(type='submit' value='Update')
          %span#tweet_content_counter 140
      %form#request_form(class='invisible' action='__dummy__')
        %table(summary='Parameters to be sent to Twitter API.  All forms in this table are visible for debugging, but they should be type="hidden".')
          %tr
            %th additional arguments
            %td#additional_arguments

    #columns
      .predefined.column#column_preferences(title='Preferences')
        %form#form_preferences(action='/')
          %dl
            -# <dt>Update interval (sec.)</dt>
            -# <dd><input name='update_interval' value='0'/></dd>
            -# ...

            %dt#advanced_preferences_header
              %input#button_to_toggle_advanced_preferences(type='button' value='Toggle advanced preferences')
            %dd
              %dl#advanced_preferences_content
                -# <dt>...</dt>
                -# <dd>...</dd>

            %dd.submit
              %input(type='submit' value='Apply')
              -# FIXME: Add a way to reset default values
      .predefined.column#column_error_log(title='Error Log')
        -# See also log() in core.js for the details.

    #footer
      #footer_menu
        %a(href='https://github.com/kana/fnfnen3')
          Watch changes
        &#x2014;
        %a(href='https://github.com/kana/fnfnen3/issues')
          Report issues
        &#x2014;
        %a(href='/sign_out' title='Sign out from fnfnen3.')
          Sign out

      %address#copyright_notice
        fnfnen3 @@VERSION@@
        &#x2014;
        Copyright &copy; 2009-2011 
        %a(href='http://whileimautomaton.net/') Kana Natsuno
        (
        %a(href='http://twitter.com/kana1') @kana1
        )

-# __END__
-# vim: foldmethod=marker
